* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h3 {
  color: #fff;
}

h1 {
  color: #fff;
}

.dashboard {
  height: 100vh;
  width: 100vw;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 18px 30px;
  margin-top: 0;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
  display: flex;
}
.close-icon {
  margin-left: 100px;
  cursor: pointer;
}

.close-svg {
  width: 30px;
}

.header-left {
  display: flex;
  gap: 10px;
}

.header-left .back-to-store {
  text-decoration: none;
}

.icon {
  color: #088178;
  font-size: 20px;
  vertical-align: middle;
  line-height: 1px;
  cursor: pointer;
  margin: 0 5px;
}

/* Sidebar */
.sidebar {
  display: none;
  background: #e6e6e6;
  height: 120vh;
  width: 40%;
  padding: 15px 0;
  margin: 0;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.4);
  overflow-y: auto;
}

.back-to-store {
  color: #545454;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.back-to-store:hover {
  color: #1c3d3b;
}

.side-list {
  margin: 0;
  list-style: none;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}

.sidebar-list-item {
  padding: 15px 0 15px 30px;
  font-size: 16px;
}

.sidebar-list-item:hover {
  background: #cffffc;
  cursor: pointer;
}

.sidebar-list-item > .link {
  text-decoration: none;
  color: #9e9ea4;
}

/* main */
.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-title h1 {
  color: #545454;
}

.main-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0;
}

.card {
  background-color: #088178;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: fit-content;
  padding: 8px 15px;
  cursor: pointer;
}

.inner-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inner-card > .card-icon {
  font-size: 25px;
  color: #cffffc;
}

/* Categories */
.category {
  position: relative;
}
.card-container .card {
  padding: 30px 10px;
  border-radius: 8px;
  margin-bottom: 2px;
  cursor: pointer;
}

.card-container .card-button {
  background-color: #fff;
  color: #088178;
  width: 50%;
  font-weight: 700;
  padding: 5px;
  margin: 0 auto 5px;
  outline: none;
  border: none;
  border-radius: 8px;

  cursor: pointer;
}

.add-category-btn {
  background-color: #088178;
  color: #fff;
  width: 50%;
  font-weight: 700;
  padding: 5px;
  margin: 0 auto 5px;
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.category-input {
  color: #1c3d3b;
  width: 60%;
  padding: 8px 5px;
  border: none;
  border-bottom: 1px solid #088178;
  margin-bottom: 10px;
}

/* Product Section */
.products-section {
  margin: 20px 30px;
}

.products-section .data-table {
  border: 1px solid #cac1c1;
}

.products-section header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.products-section header h2 {
  margin: 0;
  padding: 0;
}

.products-section header button {
  background: #088178;
  color: #fff;
  padding: 10px;
  margin: 0;
  object-fit: cover;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.products-section header button:hover {
  background: #408d88;
}

/* Add Product Section */
.display-container {
  background: #0000003a;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
}

.display-container .add-prod-form h3 {
  color: #1c3d3b;
  margin-bottom: 20px;
}

.display-container .add-prod-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: relative;
  width: 80%;
  margin-top: 20px;
  padding: 30px 0;
  border-radius: 8px;
  box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.display-container .add-prod-form label {
  width: 60%;
  text-align: left;
  color: #1c3d3b;
  margin: 5px 0 3px;
}

.display-container .add-prod-form input {
  color: #1c3d3b;
  width: 60%;
  padding: 8px 5px;
  border: none;
  border-bottom: 1px solid #088178;
  margin-bottom: 10px;
}

.display-container .add-prod-form input:focus {
  outline: none;
  background: #cffffc;
}

.display-container .add-prod-form button {
  width: 60%;
  padding: 8px;
  background: #088178;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}

.close-form {
  width: 30px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

/* Product Preview */
.product-preview {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  height: fit-content;
  padding: 15px 30px;
  margin: 20px 40px 0;
  border-radius: 8px;
  box-shadow: 0px 2px 7px 1px rgba(0, 0, 0, 0.75);
}

.product-preview img {
  margin: 0 auto;
  width: 50%;
  height: 200px;
  border-radius: 8px;
}

@media (min-width: 799px) {
  .dash {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 64px;
    right: 0;
    width: 75%;
    height: 100vh;
  }

  .icon {
    font-size: 25px;
    margin-right: 10px;
  }

  /* Header */
  .menu-icon .close-svg,
  .menu-icon .open-icon {
    display: none;
  }

  /* Side Bar */
  .sidebar {
    display: block;
    height: 150vh;
    width: 25%;
    padding-top: 0;
  }

  .sidebar-list-item {
    padding: 20px 0 20px 60px;
  }

  /* Dashboard Content */
  .main {
    width: 100%;
    padding: 20px;
  }

  .main-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin: 15px 0;
  }

  .card {
    width: 200px;
    border-radius: 8px;
  }

  /* Categories */
  .main-cards .card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .card-container .card-button {
    width: 100%;
    display: none;
    visibility: hidden;
  }

  .card-container:hover .card-button {
    display: block;
    visibility: visible;
    opacity: 2;
  }
  .card-icon {
    margin-left: 8px;
  }

  /* Add Product Form */
  .display-container {
    position: absolute;
    top: -1px;
    left: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* border: 2px solid; */
  }

  .display-container .add-prod-form {
    position: relative;
    width: 70%;
    padding: 20px 0;
    margin: 10px 0;
  }

  .display-container .add-prod-form .close-form {
    position: absolute;
    top: 5%;
    right: 5%;
  }

  .add-prod-form label {
    width: 60%;
    text-align: left;
    color: #1c3d3b;
    margin: 5px 0 3px;
  }

  .add-prod-form input,
  .add-prod-form textarea {
    color: #1c3d3b;
    width: 60%;
    padding: 8px 5px;
    border: none;
    border-bottom: 2px solid #088178;
    margin-bottom: 10px;
  }

  .add-prod-form input:focus,
  .add-prod-form textarea:focus {
    background: #cffffc;
    outline: none;
  }

  .add-prod-form select {
    width: 60%;
    padding: 10px;
  }

  .add-prod-form .radio-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    width: 60%;
    margin-left: 0;
  }

  .add-prod-form button {
    background: #088178;
    color: #fff;
    font-size: 16px;
    width: 60%;
    padding: 8px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
  }

  /* Product Preview */

  .product-preview img {
    height: 300px;
  }
}
